<!-- working start
<div style="text-align:center">
  <h1>
    Welcome to App
  </h1>
</div>
<div style="height: 500px; width: auto; background-color: grey;">
  <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" />
</div>
working end -->

<header>
  <mat-toolbar class="app-suite-toolbar">
    <a id="aAppHome" routerLink="/home">
      <img id="imgAppHome"  class="lam-logo" src="./assets/images/lam_logo_wh.png" alt="Lam Research">
    </a>
    <h1 style="font: 500 20px/32px Titillium Web, sans-serif;">Upload Excel Utility</h1>
  </mat-toolbar>
</header>
<main>
  <div class="drag-drop-container">
    <div class="dropzone" fxLayout="row" fxLayoutAlign="space-around center">
      <!-- <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" /> -->

      <!-- <a href="../assets/files/SampleExcel.xlsx">Download here</a> -->
      <!-- <mat-icon>cloud_download</mat-icon> -->
      <button mat-icon-button (click)="a.click()">
        <mat-icon>cloud_download</mat-icon>
        <a #a href="../assets/files/SampleExcel.xlsx"></a>
      </button>
      <div>
        <input #file type="file" id="btnUpload" value="Upload" class="upload"/>
        <button #upload mat-button class="upload-button" (click)="fileChange(file.files)">Upload</button>
      </div>
    </div>
  </div>
</main>
<footer>LAM Research</footer>